.el-loading-spinner {
  svg {
    display: inline-block;
  }
}

.el-popover__title {
  @apply tw-text-sm tw-text-medium #{!important};
}

.htContextMenu.handsontable {
  z-index: 9999 !important;
}

.html2canvas-container {
  width: 3000px !important;
  height: 3000px !important;
}
